<div class="form-header">
    <% if (locals.result) { %>
        <h2>The result is:
            <%= locals.result %>
        </h2>
        <% } else { %>
            <h2>There is nothing to see here!</h2>
            <% } %>
</div>