<div class="form-header">
    <% if (locals.result) { %>
      <h2>The result is: <%= locals.result %></h2>
    <% } else { %>
      <h2>Please provide the following values:</h2>
    <% } %>
  </div>
<form action="/sum" method="POST">
    <input type="text" placeholder="A" name="A">
    <input type="text" placeholder="B" name="B">
    <button type="submit">Submit</button>
</form>